@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap");
:root {
  --accent-color: #2064fe;
  --accent-color-saturated: #3926d3;
  --font-color: #161719;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgba(22, 23, 25, 0.9);
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-header {
  margin-top: 0;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
}
.section-header::after {
  display: block;
  margin: 30px auto;
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--font-color);
  opacity: 0.2;
}
.section-header-white {
  color: #fff;
}
.section-header-white::after {
  background-color: #fff;
}
a {
  text-decoration: none;
  color: rgba(22, 23, 25, 0.9);
}
a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}
button:active,
button:focus {
  outline: none;
}
.btn {
  background-color: var(--accent-color);
  color: #fff;
  padding: 15px 40px;
  border: none;
  border-radius: 0;
  transition: all 0.7s;
  font-size: 0.8em;
  font-weight: 500;
}
.btn:hover {
  background-color: rgba(36, 33, 235, 0.897);
}

.foreheader {
  font-size: 0.9em;
}
.foreheader .foreheader-block {
  padding: 10px 0px;
}
.navbar-brand {
  font-size: 30px;
}
.navbar-brand span {
  font-size: 14px;
}
#override .navbar-brand:hover {
  color: var(--accent-color);
}
#override .nav-item .nav-link {
  color: var(--font-color);
}
#override .nav-item .nav-link:hover {
  color: var(--accent-color);
}
@media (min-width: 320px) {
  .foreheader .foreheader-block {
    display: none;
  }
}
@media (min-width: 550px) {
  .foreheader {
    background-color: #f6f6f6;
  }
  .foreheader .foreheader-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 992px) {
  #navbarNav {
    display: flex;
    justify-content: space-between;
  }

  .nav-item .nav-link::after {
    content: "|";
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.2);
  }
  .nav-item .nav-link-last::after {
    content: "";
  }
}
@media (min-width: 1200px) {
  .navbar-nav {
    margin-left: 7%;
  }
  .nav-item .nav-link::after {
    margin-left: 20px;
  }
}
h1 {
  font-weight: 1000;
  font-size: 70px;
  color: #fff;
}
.h1-paragraph {
  color: #fff;
  font-size: 1.5em;
}
.banner {
  padding-top: 250px;
  padding-bottom: 250px;
  background-image: url(../img/index/banner.jpeg);
  background-size: cover;
}
@media (min-width: 320px) {
  .banner {
    background-position: center;
  }
}
@media (min-width: 992px) {
  .banner {
    background-position: 0px 0px;
  }
}

.features {
  background-color: #f6f6f6;
}
.features-paragraph {
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
}
.features-item {
  background: var(--accent-color);
  color: #fff;
  padding: 40px;
  text-align: center;
}
.features-item img {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: block;
}
@media (min-width: 320px) {
  .features-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: stretch;
  }
}
@media (min-width: 769px) {
  .features-block {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .features-block {
    grid-template-columns: repeat(5, 1fr);
  }
}

.programs-courses {
  background-image: url(../img/index/courses_background.jpeg);
  background-position: center;
  background-size: cover;
}
.programs-item {
  font-size: 1.5em;
  text-align: center;
  background-size: cover;
  margin-bottom: 50px;
}

@media (min-width: 320px) {
  .programs-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: stretch;
  }
  .programs-item {
    width: 90%;
    height: 400px;
  }
  .programs-item-bg1 {
    background-image: url(../img/programs/dambell.jpeg);
    background-position: -140px 0px;
  }
  .programs-item-bg2 {
    background-image: url(../img/programs/squat.jpeg);
    background-position: -70px 0px;
  }
  .programs-item-bg3 {
    background-image: url(../img/programs/drinking-water.jpeg);
    background-position: -150px 0px;
  }
  .programs-item .btn {
    width: 80%;
    margin-top: 360px;
    padding: 30px 0px;
  }
}
@media (min-width: 550px) {
  .programs-block {
    grid-template-columns: 1fr 1fr;
  }
  .programs-item {
    width: 255px;
    height: 340px;
  }
  .programs-item .btn {
    margin-top: 300px;
  }
  .programs-item-bg1 {
    background-position: -240px 0px;
  }
  .programs-item-bg2 {
    background-position: -130px 0px;
  }
  .programs-item-bg3 {
    background-position: -250px 0px;
  }
}
@media (min-width: 769px) {
  .programs-block {
    grid-template-columns: repeat(3, 1fr);
  }
  .programs-item {
    width: 230px;
  }
  .programs-item .btn {
    margin-top: 300px;
  }
}
@media (min-width: 992px) {
  .programs-item {
    width: 300px;
    height: 400px;
  }
  .programs-item .btn {
    margin-top: 370px;
  }
}
@media (min-width: 1200px) {
  .programs-item {
    width: 375px;
    height: 500px;
  }
  .programs-item .btn {
    margin-top: 470px;
  }
}
.courses-header {
  margin-top: 100px;
}
.courses-block-item {
  background-color: var(--font-color);
  color: #fff;
  text-align: center;
  padding: 50px 20px;
  line-height: 2;
}
.courses-block-item h3 {
  font-size: 1.4em;
}
.courses-block-item span {
  color: var(--accent-color);
  font-weight: bold;
}
.courses-block-item .btn-black {
  margin-top: 20px;
  font-size: 0.8em;
  background-color: var(--font-color);
  border: 2px solid #fff;
}
.courses-block-item .btn-black:hover {
  background-color: #fff;
  color: #000;
}
@media (min-width: 320px) {
  .courses-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-items: stretch;
    align-items: start;
  }
}
@media (min-width: 550px) {
  .courses-block {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 769px) {
  .courses-block {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .courses-block {
    grid-template-columns: repeat(4, 1fr);
  }
}
.pricing {
  position: relative;
  background: url(../img/index/pricing-background.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pricing .container {
  position: relative;
}
.pricing::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(23, 35, 57, 0.8);
}

.pricing-block-item {
  color: #fff;
  background-color: var(--accent-color-saturated);
  padding: 70px;
  text-align: center;
}
.pricing-block-item h3 {
  font-size: 1.5em;
}
.pricing-block-item p {
  line-height: 1.5;
}
.pricing-block-item span {
  display: block;
  font-size: 50px;
}
.pricing-block-item .btn {
  background-color: #fff;
  color: #000;
  border: none;
}
.pricing-block-item .btn:hover {
  background-color: #000;
  color: #fff;
}
@media (min-width: 320px) {
  .pricing-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
  }
}
@media (min-width: 550px) {
  .pricing-block {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .pricing-block {
    grid-template-columns: repeat(3, 1fr);
  }
}
.personal-training-services {
  position: relative;
  background: url(../img/index/training-services-bg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}
.personal-training-services .container {
  position: relative;
}
.personal-training-services:: {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(245, 245, 245, 0.55);
}
.training-services-item {
  position: relative;
  min-height: 400px;
  font-size: 0.95em;
}
.training-services-item img {
  max-width: 100%;
}
.training-services-item h3 {
  margin-top: 15px;
  font-size: 1.4em;
  font-weight: 500;
}
.services-read-more {
  position: absolute;
  bottom: 5px;
  font-weight: 700;
  font-size: 0.9em;
}
@media (min-width: 320px) {
  .training-services-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: stretch;
  }
  .training-services-block {
    align-items: stretch;
  }
}
@media (min-width: 769px) {
  .training-services-block {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .training-services-block {
    grid-template-columns: repeat(3, 1fr);
  }
}
.benefits-block-list {
  line-height: 2;
}
.benefits-block-list h3 {
  font-size: 1.2em;
}
.benefits-block-list li::marker {
  color: var(--accent-color);
  font-size: 1.4em;
}
.benefits-block-image {
  background-image: url(../img/index/benefits.jpeg);
  min-height: 100%;
}
@media (min-width: 320px) {
  .benefits-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: stretch;
  }
  .benefits-block {
    align-items: stretch;
  }
  .benefits-block-image {
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .benefits-block {
    grid-template-columns: 1fr 1fr;
  }
  .benefits-block-image {
    background-position: -600px 0px;
  }
}
@media (min-width: 992px) {
  .benefits-block-image {
    background-position: -350px 0px;
  }
}
.first-step {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url(../img/index/first-step.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.first-step-block .section-header {
  color: #fff;
  text-align: left;
}
@media (min-width: 320px) {
  .first-step-block .section-header {
    font-size: 2em;
  }
}
@media (min-width: 550px) {
  .first-step-block .section-header {
    font-size: 50px;
  }
}
whoiam-block {
  display: flex;
  justify-content: center;
}
.whoiam-block-image {
  background: url("../img/index/whoiam.jpeg");
  background-size: cover;
  min-height: 400px;
  width: 100%;
}
.whoiam-block .whoiam-block-text h3 {
  font-size: 1.5em;
}
.whoiam-social-media span {
  font-size: 1.5em;
  font-weight: 500;
}
.whoiam-social-media {
  display: flex;
}
.whoiam-social-media img {
  margin-left: 15px;
  width: 30px;
}
.whoiam-block-text .btn {
  margin-top: 40px;
  background-color: #e0d7d7;
  color: var(--font-color);
}
.whoiam-block-text .btn:hover {
  background-color: var(--accent-color);
  color: #fff;
}
@media (min-width: 320px) {
  .whoiam-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: stretch;
  }
  .whoiam-block-image {
    background-position: -50px 0;
  }
}
@media (min-width: 550px) {
  .whoiam-block-image {
    background-position: 0 0;
  }
}
@media (min-width: 768px) {
  .whoiam-block {
    grid-template-columns: 1fr 1fr;
  }
}
.reviews {
  background-color: #f6f6f6;
}
.reviews .carousel-indicators li {
  margin-left: 20px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.reviews h5 {
  font-weight: 700;
}
@media (min-width: 320px) {
  #override .reviews-img {
    width: 100%;
  }
  .reviews .carousel-caption {
    width: 80%;
    background-color: var(--accent-color);
    left: 10%;
  }
}
@media (min-width: 992px) {
  .reviews .carousel-caption {
    width: 50%;
    background-color: var(--accent-color);
    top: 0;
    left: 50%;
    height: 100%;
    padding: 10% 20px;
    text-align: center;
    font-size: 1.3em;
  }
  #override .reviews-img {
    width: 50%;
  }
  .reviews .carousel-indicators {
    left: 50%;
  }
}
.thirty-days .container {
  text-align: center;
}
.thirty-days .btn {
  margin-top: 60px;
}

.thirty-days .carousel-indicators {
  bottom: -60px;
}
.thirty-days .carousel-indicators li {
  margin-left: 20px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--font-color);
}
@media (min-width: 1200px) {
  .thirty-days {
    background: url("../img/index/30-days-bg.jpeg");
    background-position: 0px -100px;
    background-size: cover;
  }
}
.before-after-container {
  max-width: 600px;
  margin: 0 auto;
}
@media (min-width: 320px) {
  .before-after-block {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    justify-items: stretch;
  }
}
@media (min-width: 768px) {
  .before-after-block {
    grid-template-columns: 1fr 1fr;
  }
}
.my-book {
  position: relative;
}
.my-book .container {
  position: relative;
}
.my-book::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(245, 245, 245, 0.85);
}
@media (min-width: 320px) {
  .my-book-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
@media (min-width: 550px) {
  .my-book-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
  }
}
@media (min-width: 768px) {
  .my-book {
    background: url("../img/index/my-book-bg.jpeg");
    background-size: cover;
    background-position: center;
  }
}
.contacts {
  background-color: #f6f6f6;
}
.contacts-block-item {
  text-align: center;
  color: #fff;
  background-color: var(--accent-color);
  font-weight: 500;
  padding: 20px;
}
.contacts-block-item img {
  width: 30%;
  margin-bottom: 20px;
}
.contacts-block-item a {
  color: #fff;
}
.contacts-block-item a:hover {
  color: #fff;
}
.contacts-block-item h3 {
  font-size: 1.5em;
}
@media (min-width: 320px) {
  .contacts-block {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media (min-width: 550px) {
  .contacts-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .contacts-block {
    grid-template-columns: repeat(3, 1fr);
  }
}
.stay-in-touch {
  position: relative;
  background: url("../img/index/stay-in-touch-bg.jpeg");
  background-size: cover;
  background-attachment: fixed;
}
.stay-in-touch .container {
  position: relative;
}
.stay-in-touch::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(23, 35, 57, 0.7);
}
.stay-in-touch-block {
  text-align: center;
  padding: 40px;
  background-color: #fff;
  font-weight: 500;
}
.stay-in-touch-block input[type="text"],
.stay-in-touch-block #area {
  resize: none;
  width: 80%;
  background-color: #e3e3e3;
  padding: 10px;
  margin-bottom: 30px;
  outline: none;
  border: 2px solid transparent;
}
.stay-in-touch-block #area:focus,
.stay-in-touch-block input:focus {
  outline: none;
  border: 2px solid var(--accent-color);
}
.stay-in-touch-block input::placeholder,
.stay-in-touch-block textarea::placeholder {
  font-size: 0.8em;
}
.stay-in-touch-block .btn {
  width: 80%;
}
@media (min-width: 320px) {
  .stay-in-touch .container {
    display: flex;
    justify-content: center;
  }
  .stay-in-touch-block {
    width: 90%;
  }
}
@media (min-width: 550px) {
  .stay-in-touch-block {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .stay-in-touch-block {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .stay-in-touch .container {
    display: flex;
    justify-content: flex-end;
  }
  .stay-in-touch-block {
    width: 40%;
  }
}
footer {
  background-color: #161719;
}
footer .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
footer .logo {
  font-weight: 500;
  font-size: 30px;
}
footer .logo span {
  font-size: 0.5em;
}
.footer-block {
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.footer-block a {
  color: #fff;
}
.footer-block a:hover {
  color: #fff;
}
.footer-block-item a {
  display: block;
  margin-bottom: 15px;
}
#footer-last-item p,
#footer-last-item input {
  margin-bottom: 20px;
  padding: 15px;
  width: 100%;
}
#footer-last-item p {
  padding: 0;
}
#footer-last-item input[type="text"] {
  font-size: 0.8em;
  background-color: #4e4e50;
  color: #fff;
}
#footer-last-item input[type="text"]:focus {
  border: 2px solid var(--accent-color);
  outline: none;
}
.footer-line {
  height: 1px;
  width: 100%;
  background-color: #4e4e50;
}
.footer-paragraphs {
  color: #fff;
}
@media (min-width: 320px) {
  .footer-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
  }
  .footer-paragraphs {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .footer-block-item {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .footer-block {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-block-item {
    margin-bottom: 0px;
  }
}
